<<<<<<< HEAD
extends layout

block content
	.jumbotron
		.container
			h1 About Me
				p An artist turned to developer. Now my brush is a keyboard and i paint i code.
				a.btn.btn-primary.btn-lg(href="/contact") Contact &raquo;
	.container
		.row
			.col-md-4
				h2 About us
				p Sed velit lacus, accumsan eu purus viverra, scelerisque ultrices sem. Nullam sit amet tincidunt augue.
				a.btn.btn-default(href="http://instagram.com/code.hustle") Instagram
			.col-md-4
				h2 Services
				p Hello pellentesque arcu. Duis mi sapien, aliquam non quam eget, eleifend finibus velit.
			.col-md-4
				h2 Get In Touch
				p Hello pellentesque arcu. Duis mi sapien, aliquam non quam eget, eleifend finibus velit.	
=======
extends layout

block content
	.container
		h1 About Us
		p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		ul
			li Vivamus nec scelerisque
			li Cras efficitur
			li Nam lectus elit
		p Quisque ultricies vulputate egestas. In nec viverra arcu. Vestibulum turpis sem, accumsan nec augue sit amet, aliquet mollis magna. Nunc cursus, lectus ac eleifend egestas, felis lorem luctus nibh, at convallis mi nunc vel tellus. Donec at eleifend dolor. In id pharetra metus. Ut gravida consequat velit lobortis fringilla. Curabitur blandit eu elit ac euismod. Aenean porta fringilla augue. Donec sollicitudin lobortis erat, quis elementum est suscipit fermentum. Vestibulum tincidunt in urna eget efficitur. 
>>>>>>> 9bb5bdbfd886b8305babff7d9512d123a00b702c
