extends layout

block content
		.container
			h1 Contact
		.container
			form.row(action="/" method="post")
				.col-md-4
					h4 Name
					input.form-control(type="text" placeholder="Name" name="name")
				.col-md-4
					h4 Email
					input.form-control(type="text" placeholder="Email" name="email")
				.col-md-4
					h4 Message
					textarea.form-control(type="text" placeholder="Message" name="message")
					button.btn.btn-lg.btn-default.pull-right(type="Submit" href="#" style="margin:10px 0px; text-align:center") Submit			