
extends layout

block content
		.container
			h1 Contact
		.container
			form.row(action="/" method="post")
				.col-md-4
					h4 Name
					input.form-control(type="text" placeholder="Name" name="name")
				.col-md-4
					h4 Email
					input.form-control(type="text" placeholder="Email" name="email")
				.col-md-4
					h4 Message
					textarea.form-control(type="text" placeholder="Message" name="message")
					button.btn.btn-lg.btn-default.pull-right(type="Submit" href="#" style="margin:10px 0px; text-align:center") Submit			

extends layout

block content
	.container
		form(method='post', action='contact/send')
			h1 Contact
			.form-group
				label Name
				input.form-control(type='text',name='name', placeholder='Enter Name')
			.form-group
				label Email
				input.form-control(type='email', name='email', placeholder='Enter Email')
			.form-group
				label Message
				textarea.form-control(name='message', placeholder='Enter Message...')
			button.btn.btn-default(type='submit') Submit

