extends layout

block content
	.jumbotron
		.container
			h1 Portfolio
				p Test text
				a.btn.btn-primary.btn-lg(href="/contact") Contact &raquo;
	.container
		.row
			.col-md-4
				h2 Design
				p Sed velit lacus, accumsan eu purus viverra, scelerisque ultrices sem. Nullam sit amet tincidunt augue.
				a.btn.btn-default(href="http://instagram.com/code.hustle") Instagram
			.col-md-4
				h2 Development
				p Hello pellentesque arcu. Duis mi sapien, aliquam non quam eget, eleifend finibus velit.
			.col-md-4
				h2 Cloud Management
				p Hello pellentesque arcu. Duis mi sapien, aliquam non quam eget, eleifend finibus velit.	